<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="/admin.css">
</head>

<body>
    <section class="editReservation">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <h3>Reservation Details</h3>
                    <br><br>
                    <form method="POST" action="">
                        <!-- Form Row-->
                        <input type="date" placeholder="" name="din" value="<%= userReservation.date_in %>">
                        <input type="date" placeholder="" name="dout" value="<%= userReservation.date_out %>">
                        <input type="text" placeholder="" name="status" value="<%= userReservation.status %>">
                        <!-- <input type="text" placeholder="" name="des" value="<%= userReservation.description %>"> -->
                        <a href="/admin/editReservation/save/<%=userReservation.id%>"><button class="btn book-btn">Save changes</button></a>
                        <a href="/admin/reservation"><button class="btn book-btn" type="button">Go back</button></a>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>