<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <nav class="navbar">
            <a class="logo" href="/index">Hong Phuong</a>
            <input type="checkbox" id="check">
            <label for="check">
                <i class="fas fa-bars" id="open"></i>
                <i class="fas fa-times" id="close"></i>
            </label>
            <ul class="nav-list">
                <li class="nav-item"><a href="/rooms" class="nav-link">Rooms</a></li>
                <li class="nav-item"><a href="/restaurant" class="nav-link">Restaurant</a></li>
                <li class="nav-item"><a href="/spa" class="nav-link">Service</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                <li class="nav-item"><a href="/booking" class="nav-link book-btn">Book Now</a></li>
                <%if (!locals.session.userId) { %>
                    <li class="nav-item"><a href="/loginform" class="nav-link book-btn">Login</a></li>
                <% }else{ %>
                    <li class="nav-item">
                    <div class="dropdown">
                        <button class="nav-link book-btn" style="cursor: pointer;">User</button>
                        <div class="dropdown-content">
                          <a class="nav-link" href="/profile">Profile</a>
                          <a class="nav-link" href="/logout">Logout</a>
                        </div>
                      </div>
                    </li>
                <%}%>
            </ul>
        </nav>
    </div>
    <section class="contact">
        <div class="container">
            <div class="row">
                        <div class="col-2">
                            <h3>Account Details</h3>
                            <% if (message) { %>
                                <div class="alert alert-info"><%= message %></div>
                            <% } %>
                            <form method="POST" action="/editProfile">
                                <!-- Form Row-->
                                <input type="hidden"  name="id" value="<%= userData.id%>" >
                                <input type="text" placeholder="First Name" name="fname" value="<%= userData.first_name%>" required>
                                <input type="text" placeholder="Last Name" name="lname" value="<%= userData.last_name%>" required>
                                <input type="email" placeholder="Email Address" name="email" value="<%= userData.email%>" required>
                                <input type="tel" pattern="[0-9]{10}" title="Please enter a 10-digit phone number" placeholder="Phone Number" name="phone" value="<%= userData.phone%>" required>
                                <% let dob=userData.birth_date %>
                                <%const date=dob.getDate()%>
                                <%const month=dob.getMonth()+1%>
                                <%const year=dob.getFullYear()%>
                                <%const dateFormat = [year,(month>9 ? '' : '0') + month,(date>9 ? '' : '0') + date].join('-')%>
                                <input type="date" placeholder="Date of birth" name="dob" value="<%= dateFormat %>" required>
                                <!-- Save changes button-->
                                <a><button class="btn btn-primary">Save changes</button></a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="back-to-top">
                <a href="#contact"><i class="fas fa-chevron-up"></i></a>
            </div>
            <div class="footer__content row">
                <div class="col-3">
                    <h4>About</h4>
                    <p>We are a part of chain of luxury hotels which extends all over the world. 
                        We provide a luxorious stay with various value added and free services which will make you visit us over and over again.
                    </p>
                </div>
                <div class="col-3">
                    <h4>Payment Methods</h4>
                    <p>Pay any way you choose, we support all payment options</p>
                    <ul class="payment-methods">
                        <li>
                            <a href="#">
                                <i class="fab fa-paypal"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-cc-visa"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-cc-mastercard"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-apple-pay"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <h4>Get Social</h4>
                    <p>Follow us on social media and keep in touch with us.</p>
                    <ul class="social-icons">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-tripadvisor"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>