<!DOCTYPE html>
<html lang="en">
<!-- edit profile here -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <nav class="navbar">
            <a class="logo" href="/index">Hong Phuong</a>
            <input type="checkbox" id="check">
            <label for="check">
                <i class="fas fa-bars" id="open"></i>
                <i class="fas fa-times" id="close"></i>
            </label>
            <ul class="nav-list">
                <li class="nav-item"><a href="/rooms" class="nav-link">Rooms</a></li>
                <li class="nav-item"><a href="/restaurant" class="nav-link">Restaurant</a></li>
                <li class="nav-item"><a href="/spa" class="nav-link">Service</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                <!-- <li class="nav-item"><a href="/editProfile" class="nav-link">Edit pf</a></li> -->
                <li class="nav-item"><a href="/booking" class="nav-link book-btn">Book Now</a></li>
                <%if (!locals.session.userId) { %>
                    <li class="nav-item"><a href="/loginform" class="nav-link book-btn">Login</a></li>
                <% }else{ %>
                    <li class="nav-item">
                    <div class="dropdown">
                        <button class="nav-link book-btn" style="cursor: pointer;">User</button>
                        <div class="dropdown-content">
                        <a class="nav-link" href="/profile">Profile</a>
                        <a class="nav-link" href="/logout" >Logout</a>
                        </div>
                    </div>
                    </li>
                <%}%>
            </ul>
        </nav>
    </div>

    <section class="contact" align="center">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" style = "position:relative; left:290px;" alt="User-Profile-Image">
                    <div style = "position:relative; left:290px;">
                        <h3>First name</h3>
                        <p><%= userData.first_name%></p> <!-- insert data here -->
                    </div>
                    <div style = "position:relative; left:290px;">
                        <h3>Last name</h3>
                        <p><%= userData.last_name%></p>
                    </div>
                    <div style = "position:relative; left:290px;">
                        <h3>Email</h3>
                        <p><%= userData.email%></p>
                    </div>
                    <div style = "position:relative; left:290px;">
                        <h3>Date of birth</h3>
                        <% function dateFormatting(dateType){
                            let date = dateType.getDate();
                            let month = dateType.getMonth()+1;
                            let year= dateType.getFullYear();
                            const dateFormat = [(date>9 ? '' : '0') + date,(month>9 ? '' : '0') + month,year].join('/');
                            return dateFormat;
                        } %>
                        <p><%= dateFormatting(userData.birth_date) %></p>
                    </div>
                    <div style = "position:relative; left:290px;">
                        <h3>Phone</h3>
                        <p><%= userData.phone%></p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <h3>Booking History</h3>
                <br><br>
                <table>
                    <thead> 
                        <tr style="font-size: 20px; color: aliceblue;"> 
                            <th>ID</th>
                            <th>Room number</th>
                            <th>Arrival Date</th>
                            <th>Departure Date</th>
                            <th>Status</th>
                        </tr>
                    </thead> 
                    <tbody>
                        <% userReservation.forEach(element =>{ %>
                            <tr>
                                <td data-label="ID" style="font-size: 20px; color: aliceblue;"><%= element.reservation_id %></td> <!--insert into row values -->
                                <td data-label="RoomNum" style="font-size: 20px; color: aliceblue;"><%= element.roomList %></td>
                                <td data-label="Arrival date" style="font-size: 20px; color: aliceblue;"><%= dateFormatting(element.date_in) %></td>
                                <td data-label="Departure Date" style="font-size: 20px; color: aliceblue;"><%= dateFormatting(element.date_out) %></td>
                                <td data-label="Status" style="font-size: 20px; color: aliceblue;"><%= element.status %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            <a href="/editProfile?id=<%= userData.id %>"><button class="nav-link book-btn" style="cursor: pointer;">Edit profile</button></a>
            <a href="/editPassword?id=<%= userData.id %>"><button class="nav-link book-btn" style="cursor: pointer;">Edit password</button></a>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="back-to-top">
                <a href="#contact"><i class="fas fa-chevron-up"></i></a>
            </div>
            <div class="footer__content row">
                <div class="col-3">
                    <h4>About</h4>
                    <p>We are a part of chain of luxury hotels which extends all over the world. 
                        We provide a luxorious stay with various value added and free services which will make you visit us over and over again.
                    </p>
                </div>
                <div class="col-3">
                    <h4>Payment Methods</h4>
                    <p>Pay any way you choose, we support all payment options</p>
                    <ul class="payment-methods">
                        <li>
                            <a href="#">
                                <i class="fab fa-paypal"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-cc-visa"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-cc-mastercard"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-apple-pay"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <h4>Get Social</h4>
                    <p>Follow us on social media and keep in touch with us.</p>
                    <ul class="social-icons">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-tripadvisor"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>